In [5]:
# 作業目標:

# 運用編碼處理類別資料
# 補缺失值
# 作業重點:

# 類別編碼有多種方法，需分辨使用方法與時機
# 補缺失值須因應情境決定如何補值
# 題目 : 將以下問卷資料的職業(Profession)欄位缺失值填入字串'others'，更進一步將字串做編碼。 此時用什麼方式做編碼比較適合?為什麼?

In [6]:
import pandas as pd

In [7]:
q_df = pd.DataFrame([['male', 'teacher'], 
              ['male', 'engineer'],
              ['female', None],
              ['female', 'engineer']],columns=['Sex','Profession'])
q_df

      Sex Profession
0    male    teacher
1    male   engineer
2  female       None
3  female   engineer

In [8]:
# 缺失值填入字串'others'
q_df.fillna('others')

      Sex Profession
0    male    teacher
1    male   engineer
2  female     others
3  female   engineer

In [17]:
# 更進一步將字串做編碼。 此時用什麼方式做編碼比較適合?為什麼?

sex = pd.get_dummies(q_df[['Sex']])
profession = pd.get_dummies(q_df[['Profession']])
pd.concat([sex,profession],axis=1)

   Sex_female  Sex_male  Profession_engineer  Profession_teacher
0           0         1                    0                   1
1           0         1                    1                   0
2           1         0                    0                   0
3           1         0                    1                   0

In [12]:
# 使用 One-hot Encoding 較好，因為性別、職業都屬於類別資料。